@charset "utf-8";

/* common */
	* { word-wrap: break-word; }
	ul,ol,li,span,p,form,h1,h2,h3,4,h5,h6,dl,dt,dd { margin: 0; padding: 0; border: 0; z-index:inherit; }
	img,a img {
	    border:0;
	    margin:0;
	    padding:0;
	    max-width: 100%;
        box-sizing: content-box;
        background-color: #fff;
	    }
	ul,ol,li { list-style:none; }
	* { margin:0; padding:0; }
	html,body {
	    line-height: 1.5;
	    height:100%;
	    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	    color:#222;
	    background-color:#F8F9F9;
	    font-size:16.2px;
	}
	input,select,textarea,button { font:14px/1.5  Microsoft YaHei, Helvetica, sans-serif; }
	body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
	table { empty-cells: show; border-collapse: collapse; }
		caption, th { text-align: left; font-weight: 400; }
	ul li, .xl li { list-style: none; }
	h1{
	    font-size: 1.3em;
	 }

	 h2{
	 font-size: 1.25em;
	 }

	 h3{
     	 font-size: 1.2em;
     }

	 h4{
     	 font-size: 1.15em;
     }
     h5{
            font-size: 1.1em;
        }
    h6{
            font-size: 1.05em;
      }


	em, cite, i { font-style: normal; }
		a img { border: none; }
	label { cursor: pointer; }
	.bg { background: url(./images/pic_bg.jpg); }
	.rq { color: red; }

    a{
        text-decoration:none;
    }
    a:link{
       color:#529ECC;

    }
    a:visited{
        color: #373a3c;
    }

    a:hover{
        color:#529ECC;
    }

	.blue { color: #0086CE; }

	a.blue:link, a.blue:visited, a.blue:hover { color:#0086CE; text-decoration:none; }
	.grey { color:#9C9C9C; }
	a.grey:link, a.grey:visited, a.grey:hover { color:#9C9C9C; text-decoration:none; }
	.orange { color:#F60; }
	a.orange:link,a.orange:visited,a.orange:hover{color:#F60;text-decoration:none }



	.z { float: left; } .y { float: right; }
	.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .cl { zoom: 1; }
	.overflow{overflow:hidden;}
	.none { display:none; }
	.vm { vertical-align: middle; }
		.vm * { vertical-align: middle; }
	.hm { text-align: center; }

	.bl_none { border-bottom:0 !important; }
	.bl_line { border-bottom:1px solid #DDD; }
	.b_radius {border-radius:10px;}

	.b_m { margin:10px;}
	.b_p { padding:10px}

	.mtn { margin-top: 5px !important; }
	.mbn { margin-bottom: 5px !important; }
	.mtm { margin-top: 10px !important; }
	.mbm { margin-bottom: 10px !important; }
	.mtw { margin-top: 20px !important; }
	.mbw { margin-bottom: 20px !important; }

	.pr, .pc { vertical-align: middle; margin: 0 5px 1px 0; padding: 0;+margin-right: 2px;_margin-right: 2px; }

/*----- viewthread -----*/
	.message .jammer{ font-size:10px; color:#F0F0F0; }
	.message img,.plc .pi .img_one img { margin:0px 4px 0px 0; max-width:140px; max-height:140px; }
	.message .quote{ padding:10px 10px 7px 11px; margin:5px 0; border:1px dashed #D7D7D7; font-size:12px; }
	.img_list { margin:4px auto; }
	.img_list li { float:left; width:83px; height:83px; margin:0 4px 4px; text-align:center;vertical-align: middle; line-height:83px; }
	.img_list li a { display:block;}

	.manage { margin:4px -10px 0 0; position:absolute; top:38px; right:5px; height:50px; }
	.button { width:53px; height:39px; color:#FFF; background:url(./images/button_bg.png) no-repeat; margin:0 2px; border:0; font-size:12px; }
	.button2 { width:50px; height:32px; color:#FFF; background:url(./images/button_bg2.png) no-repeat; margin:7px 0 3px 0; border:0; font-size:12px; }

	.blockcode{
	    line-height: 1.4;
	    font-family: monospace, monospace;
        margin: 0.2rem auto;
        border: 1px solid #D6E9C6;
        border-left-width: 3px;
        padding: 0.4rem 0.8rem;
        background-color: #F4FFEF;
        font-size: 0.90em;
        page-break-inside: avoid;
}

hr {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, .1);
}
i.pstatus{
    font-size: 0.80em;
    margin: 0 auto;
    color:#888888;
}


/* 去除相邻的br */
br + br {
    display: none;
}

div + br{
    display: none;
}

